* {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.toast-success,
.toast-warning,
.toast-error {
  border: none;
}

.toast-success {
  background-color: #b1efbe;
  color: #147229;
}

.toast-warning {
  background-color: #fae7c7;
  color: #93681c;
}

.toast-error {
  background-color: #ffb7b7;
  color: #8a1a1a;
}

.top-bar-container {
  display: flex;
  font-size: 0.85rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 12rem;
  border-bottom: 1px solid #f7f7f7;
}

.title {
  color: #ff8b34;
  font-weight: 600;
}

.main-title {
  color: #ff8b34;
  font-weight: 600;
  font-size: 1.2rem;
}

.heading {
  font-family: "Kanit", sans-serif;
  line-height: 100%;
}

.top-bar-container .text {
  font-weight: 400;
  color: #848484;
}

.top-bar-container strong {
  color: #00091d;
}

.top-bar-container .social-icons {
  font-size: 1rem;
}

.top-bar-container .social-icons i {
  padding: 0em 0.7rem;
}

.header {
  padding: 0rem 12rem;
}

.header .logo {
  width: 2.3rem;
}

.header .navbar-brand {
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.header .header-contact-box {
  display: flex;
  padding: 0.7rem 1.2rem 0.7rem 1.5rem;
  background-color: #00091d;
  color: #ffffff;
}

.header .nav-item {
  padding: 0rem 0.4rem;
}

.header .nav-link {
  font-size: 1rem;
  font-weight: 600;
}

.header .nav-link.active {
  color: #ff8b34;
}

.header .nav-link:hover {
  color: #ff8b34;
}

.footer {
  padding: 0rem;
  background: #00091d;
  color: #ffffff;
}

.footer .menus-container {
  padding: 5rem 10rem 2.5rem 10rem;
}

.footer .menus-container .logo {
  width: 1.8rem;
}

.footer .menus-container .head-box {
  padding: 0rem;
  border-bottom: 1px solid #f7f7f728;
  padding-bottom: 1.5rem;
}

.footer .menus-container .head-box .icon-box {
  width: fit-content;
}

.footer .menus-container .head-box .icon-box i {
  font-size: 1.65rem;
  color: #ff8b34;
}

.footer .menus-container .head-box .text-box .title {
  color: #ffffff;
  font-size: 1.2rem;
}

.footer .menus-container .head-box .text-box .text {
  font-size: 0.9rem;
}

.footer .menus-container .body-box {
  padding: 0rem;
  padding-top: 1.4rem;
}

.footer .menus-container .body-box .heading {
  font-size: 1.4rem;
  color: #ffffff;
}

.footer .menus-container .body-box a {
  color: #ffffff;
}

.footer .menus-container .body-box i {
  font-size: 0.65rem;
  color: #ff8b34;
  padding-right: 0.4rem;
}

.footer .menus-container .body-box .subscriber-newsletter input {
  padding: 0.5rem 0.8rem;
  font-size: 0.95rem;
  color: #595959;
  width: 100%;
}

.footer .menus-container .body-box .subscriber-newsletter button {
  border: none;
  background: #ff8b34;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .menus-container .body-box .subscriber-newsletter button i {
  color: #ffffff;
  padding: 0rem;
}

.footer .menus-container .body-box .link-wrapper {
  display: flex;
  align-items: center;
}

.footer .copyright-container {
  padding: 1rem 10rem;
  border-top: 1px solid #f7f7f728;
}

.footer .copyright-container .text {
  font-size: 0.9rem;
}

.footer .copyright-container .social-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ff8b34;
  margin-right: 0.6rem;
}

.home-top-section {
  background-image: url("../images/robotic-arms-along-assembly-line-in-modern-factory.jpg");
  background-size: cover;
}

.home-top-section .box-wrapper {
  background-image: linear-gradient(90deg, #00091dbf 50%, #f2295b00 50%);
  padding: 8rem 12rem;
  width: 63%;
}

.home-top-section .box {
  background: #ffffff;
  padding: 3.8rem 4rem;
}

.main-heading {
  font-family: "Kanit", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 100%;
}

.button {
  width: fit-content;
  background: #ff8b34;
  padding: 1rem 2.4rem;
  font-weight: 500;
  color: #ffffff;
  border: none;
}

.home-top-section .box .watch-video-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.home-top-section .box .watch-video-box {
  font-weight: 600;
}

.home-top-section .box .watch-video-box i {
  border: 1px solid #000;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-right: 0.6rem;
}

.home-top-section .box .watch-video-box i:hover {
  background: #3463ff;
  color: #ffffff;
}

.home-aboutus-section {
  padding: 6rem 12rem;
}

.home-aboutus-section .left-section {
  padding: 0rem;
}

.home-aboutus-section .left-section .box-wrapper {
  padding: 0rem 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.home-aboutus-section .left-section .box {
  width: 100%;
  padding: 0rem;
  height: 85%;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  padding: 0rem 1rem;
}

.home-aboutus-section .left-section .box .heading {
  font-size: 1.4rem;
}

.home-aboutus-section .left-section .box.box1 {
  transform: translateY(-10%);
  background-image: url("../images/industrial-robots-1024x732.jpg");
}

.home-aboutus-section .left-section .box.box2 {
  background-image: url("../images/fibre-laser-robotic-remote-cutting-system-683x1024.jpg");
}

.home-aboutus-section .left-section .content-box {
  background: #fff;
  padding: 1.5rem 1rem;
  text-align: center;
  transform: translateY(50%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
}

.home-aboutus-section .right-section {
  padding: 0rem 0rem 0rem 1rem;
}

.home-aboutus-section .right-section .box-content {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.home-aboutus-section .right-section .image-box {
  background-image: url("../images/Industrial-Robotic-Automation.jpg");
  background-position: center;
  background-size: cover;
}

.home-who-we-are-section {
  background: linear-gradient(to right, #00091d 64%, #ffffff 64%);
  color: #ffffff;
  margin-top: 3.8rem;
}

.home-who-we-are-section .body-content {
  padding: 7rem 6rem 7rem 7rem;
}

.home-who-we-are-section .box {
  padding: 1rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  color: #00091d;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  line-height: 100%;
  font-size: 1.5rem;
}

.bounce-transition {
  transition: all 0.5s;
}

.bounce-transition:hover {
  transform: translateY(-15%);
}

.home-who-we-are-section .progress {
  background-color: #39404e;
  border-radius: 0px;
  height: 0.7rem;
}

.home-who-we-are-section .progress-bar {
  background-color: #ff8b34;
  border-radius: 0px;
}

.home-who-we-are-section .image-box {
  width: 100%;
  height: 100%;
  background-image: url("../images/female-engineers-working-in-industry-factory.jpg");
  background-position: center;
  background-size: cover;
  transform: translateY(-7.5%);
}

.our-blog-section {
  padding: 6rem 11rem 4rem 11rem;
}

.our-blog-section .image-box {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0.7rem;
  background-size: cover;
  background-position: center;
}

.our-blog-section .image-box.box1 {
  background-image: url("../images/robotic-arm-modern-industrial-technology-automated-production.jpg");
}

.our-blog-section .image-box.box2 {
  background-image: url("../images/robot-forklift.jpg");
}

.our-blog-section .image-box.box3 {
  background-image: url("../images/automated-milking-machine.jpg");
}

.our-blog-section .article-title {
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 500;
  padding-top: 1.5rem;
  font-family: "Kanit", sans-serif;
}

.our-blog-section .description {
  color: #9c9c9c;
  font-weight: 500;
}

.our-blog-section > .text {
  color: #a0a0a0;
}

.our-services-section {
  padding: 6rem 12rem;
}

.our-services-section {
  padding: 6rem 12rem;
}

.our-services-section .item {
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 2.3rem 2.2rem;
}

.our-services-section .item > img {
  height: 4rem;
  margin-bottom: 1.4rem;
}

.our-services-section .item .heading {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.our-services-section .item:hover .heading {
  color: #ff8b34;
}

.our-services-section .item .description {
  color: #a2a2a2;
  font-weight: 500;
}

.section-top-heading {
  color: #fff;
  background-image: linear-gradient(rgba(0, 9, 29, 0.85), rgba(0, 9, 29, 0.85)), url("../images/section-top-heading-bg.webp");
  background-size: cover;
  background-position: center;
  padding: 9.5rem 0rem;
  text-align: center;
}

.section-top-heading .heading {
  font-size: 2.8rem;
}

.section-top-heading a {
  color: #ffffff;
}

.section-top-heading a:hover {
  color: #ff8b34;
}

.services-four-up {
  padding: 2rem 1.4rem;
  background-image: linear-gradient(0deg, #00091d 34%, #ffffff 34%);
}

.services-four-up .box-wrapper {
  padding: 0rem 1.25rem;
}

.services-four-up .box {
  position: relative;
  height: 100%;
  min-height: 440px;
  background-size: cover;
  background-position: center;
}

.services-four-up .box.box1 {
  background-image: url("../images/robotic-arm-in-a-factory-modern-heavy-industry.jpg");
}
.services-four-up .box.box2 {
  background-image: url("../images/robotic-arm-for-packing.jpg");
}
.services-four-up .box.box3 {
  background-image: url("../images/robot-young.jpg");
}
.services-four-up .box.box4 {
  background-image: url("../images/man-controlling-robot-arm.jpg");
}

.services-four-up .content-body {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 9, 29, 0.6);
  width: 100%;
  height: 0px;
  color: #ffffff00;
  padding: 0rem 1.9rem;
  transition: all 0.5s;
}

.services-four-up .box:hover .content-body {
  height: 100%;
  color: #ffffff;
  padding: 2.6rem 1.9rem;
}

.services-four-up .content-body .text {
  font-size: 0.95rem;
}

.services-client-testimonial {
  padding: 7.5rem 12rem;
  background: #00091d;
  color: #ffffff;
}

.services-client-testimonial .carousel-item {
  background: #ffffff;
  color: #7a7a7a;
  padding: 2.2rem 2.5rem 1.5rem 2.5rem;
}

.services-client-testimonial .carousel-indicators {
  transform: translateY(3rem);
}
.services-client-testimonial .carousel-indicators button {
  border: none;
  border-radius: 100px;
  width: 8.5px;
  height: 8.5px;
  margin: 0rem 0.35rem;
}

.services-client-testimonial .carousel-indicators button.active {
  background: #ff8b34;
}

.user-faq {
  padding: 7.5rem 12rem;
}

.user-faq .image-wrapper {
  background-image: url("../images/fibre-laser-robotic-remote-cutting-system.jpg");
  background-size: cover;
  padding: 2.2rem 2rem;
  min-height: 690px;
}

.user-faq .image-wrapper .stats-box {
  background: #ffffff;
  padding: 1.3rem 2rem;
}

.accordion-container .accordion-item {
  border: none !important;
  margin-bottom: 0.6rem;
}

.accordion-container .accordion-header .accordion-button {
  font-family: "Kanit", sans-serif;
  background: #00091d;
  border: 1px solid #00091d;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0px !important;
  /* box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); */
}

.accordion-container .accordion-header .accordion-button.collapsed {
  background: #ffffff;
  color: #00091d;
}

.accordion-container .accordion-header .accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-container .accordion-header .accordion-button:not(.collapsed)::after {
  color: #ff8b34;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  background-image: none;
  text-rendering: auto;
  font-weight: 900;
}

.accordion-container .accordion-header .accordion-button.collapsed::after {
  color: #ff8b34;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  background-image: none;
  text-rendering: auto;
  font-weight: 900;
}

.accordion-container .accordion-header .accordion-button:focus {
  box-shadow: none;
  margin: 0px;
}

.get-free-consultation-section {
  display: flex;
  flex-direction: column;
  padding: 7rem 12rem;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 9, 29, 0.85), rgba(0, 9, 29, 0.85)), url("../images/businessman-checking-industrial-robot-in-high-tech-company.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

@keyframes riple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 3px rgba(255, 255, 255, 0.3), 0 0 0 5px rgba(255, 255, 255, 0.3);
  }
  30% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 4px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

.get-free-consultation-section .play-icon {
  background: #ffffff;
  color: #ff8b34;
  width: 68px;
  height: 68px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  animation: riple 5s linear infinite;
}

.service-detail-section {
  padding: 6.5rem 11rem;
  color: #595959;
}

.service-detail-section .service-title {
  font-size: 1.75rem;
}

.service-detail-section .benefits-list {
  list-style: none;
  padding: 0rem;
}

.service-detail-section .benefits-list li {
  list-style: none;
  font-weight: 500;
  padding-bottom: 0.6rem;
  font-size: 0.95rem;
}

.service-detail-section .benefits-list li:last-child {
  padding: 0rem;
}

.service-detail-section .benefits-list li::before {
  color: #ff8b34;
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  background-image: none;
  text-rendering: auto;
  font-weight: 900;
  padding-right: 0.45rem;
}

.service-detail-section .service-information-box {
  padding: 2.6rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.service-detail-section .service-information-box ul {
  list-style: none;
  padding: 0px;
}

.service-detail-section .service-information-box ul li {
  padding: 0rem 0rem 0.65rem 1.65rem;
  position: relative;
  display: flex;
  align-items: center;
}

.service-detail-section .service-information-box ul i {
  color: #ff8b34;
  position: absolute;
  transform: translateX(-1.65rem);
}

.service-detail-section .need-help {
  background-image: linear-gradient(rgba(0, 9, 29, 0.75), rgba(0, 9, 29, 0.85)), url("../images/robotic-arm.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 2.6rem 2.5rem;
}

.service-detail-section .need-help .icon-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8b34;
}

.not-found-404 {
  background-image: linear-gradient(rgba(0, 9, 29, 0.85), rgba(0, 9, 29, 0.85)), url("../images/robotic-arms-along-assembly-line-in-modern-factory-sideview.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 0rem;
}

.not-found-404 h1 {
  font-size: 12rem;
}

.not-found-404 h2 {
  font-size: 2.6rem;
}

.our-team {
  text-align: center;
  padding: 2rem 12rem;
}

.our-team .team-wrapper {
  padding: 2rem 0rem 6rem 0rem;
}

.our-team .team-wrapper .item {
  min-height: 430px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.our-team .team-wrapper .item .social-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 100%;
  padding: 0px;
  transition: all 0.5s;
  background: rgba(0, 9, 29, 0.88);
}

.our-team .team-wrapper .item .social-wrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 40px;
  color: #ffffff00;
  background: #ff8b34;
  margin: 0rem 0.45rem;
}

.our-team .team-wrapper .item:hover .social-wrapper {
  height: 100%;
}

.our-team .team-wrapper .item:hover .social-wrapper i {
  height: 40px;
  color: #ffffff;
}

.our-team .team-wrapper .item .details-wrapper {
  background: #ffffff;
  width: 80%;
  padding: 1.5rem 2rem;
  transform: translateY(65%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.about-aboutus-section {
  padding: 6rem 12rem;
}

.about-aboutus-section .image-wrapper {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about-aboutus-section .image-wrapper.box1 {
  background-image: url("../images/industrial-robots-1024x732.jpg");
  background-size: cover;
  background-position: center;
}

.about-aboutus-section .image-wrapper.box2 {
  background-image: url("../images/fibre-laser-robotic-remote-cutting-system-683x1024.jpg");
  background-size: cover;
  background-position: center;
}

.about-aboutus-section .image-wrapper.box3 {
  background-image: url("../images/Industrial-Robotic-Automation.jpg");
  background-size: cover;
  background-position: center;
}

.about-aboutus-section .image-wrapper .details-wrapper {
  background: #ffffff;
  width: 85%;
  text-align: center;
  padding: 1rem 1rem;
  transform: translateY(25%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.get-in-touch {
  padding: 5rem 12rem;
}

.get-in-touch .icon-wrapper {
  width: 100%;
  background: #ff8b34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.get-in-touch .social-wrapper {
  display: flex;
}

.get-in-touch .social-wrapper i{
  background: #252525;
  font-size: 1rem;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-right: 0.7rem;
}

.get-in-touch .contact-form{
 padding: 3.5rem 3.5rem; 
}

.get-in-touch .contact-form input,
.get-in-touch .contact-form textarea{
 padding: 0.9rem 1.5rem;
 border-radius: 0px; 
 margin-bottom: 2rem;
}
